.container {
    .hot-icon {
        font-size: 18px;
        color: red;
    }

    .icon-img {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        border: 0;
        margin-right: 10px;
    }
}
