<header class="p-3 bg-dark text-white">
    <div class="container containercontainer">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" routerLink="/home"
                        class="nav-link px-2 text-white">Trang chủ</a></li>
                <li><a routerLink="/home" class="nav-link px-2 text-danger"><i class="fas fa-fire-alt hot-icon"></i>Bài
                        Hot</a></li>
                <li><a (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" routerLink="/home"
                        class="nav-link px-2 text-white">BXH ỉa</a></li>
                <li><a (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" routerLink="/home"
                        class="nav-link px-2 text-white">Gái bồn cầu</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Tìm kiếm" aria-label="Search">
            </form>

            <div class="text-end">
                <button *ngIf="!isAuthenticated && !user" (click)="facebookSignin()" type="button" class="btn btn-primary">Đăng
                    nhập</button>
                <div *ngIf="isAuthenticated && user"><img src="{{user.photoUrl}}" alt="" width="32" height="32"
                        class="icon-img">{{user.name}}<button style="margin-left:10px" (click)="logOut()" type="button"
                        class="btn btn-primary">Thoát</button></div>
            </div>
        </div>
    </div>
</header>